.content {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 2rem;

  h1 {
    line-height: 3rem;
  }

  img {
    position: relative;
  }

  figcaption {
    line-height: 1rem;
  }
}

