
.container {
  right: 20px;
  position: fixed!important;
}

.lightToggle {
  cursor: pointer;
  transition: opacity 0.2s ease;
  opacity: 0.2;

  &:hover {
    transition: opacity 0.2s ease;
    opacity: 1;
  }
}